<!DOCTYPE html>
<html>
	<head>
  <title>Brain Dump</title>
	<!-- set meta -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <!-- set viewport to device width to allow responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- custom sctipts -->
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <script src="/static/js/app.js"></script>
  <script src="/static/js/jquery-dateFormat.js"></script>
	</head>

	<body>
		<div class="jumbotron">
		  <h1>BRAIN DUMP</h1>
		</div>

		<div class="container">
		  <div class="row">

				<!-- start of LHC -->
		    <div class="col-sm-2 col-sm-offset-1" id="LHC">
		      <h1 id="headerDate"></h1>
		    </div>
		    <!-- end of LHC -->

				<!-- start of RHC -->
		    <div class="col-sm-7 col-sm-offset-1" id="RHC">

		      <ul id="post-ul" class="list-group"> <!-- list of posts -->
		      		<li class="list-group-item">
		      			<%= post.newPost %>
								<button type="button" data-id="<%= post.id %>" class="deletePost btn btn-default btn-sm"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
								<hr>
								<h2>Comments:</h2>
			            <ul data-id="<%= post.id %>" class="list-group comment-ul"> <!-- list of comments -->
			        	    <% for (var j = post.comments.length-1; j >= 0; j--) { %>
				        	    <li class="list-group-item" data-id="<%= post.comments[j].id %>"> 
					        	    <%= post.comments[j].newComment %> 
			        	    </li>
			        	    <% } %>
			            </ul>
		      		</li>
		      </ul> <!-- end of list of posts -->

		    </div>
		    <!-- end of RHC -->

		  </div> <!-- end of row -->
		</div> <!-- end of container -->
	</body>
</html>
